body {
	font: 16px Helvetica, "Trebuchet MS", sans-serif;
}

h1 {
	text-align: center;
}

code {
	font: 13px Monospace;
}

.fine-print {
	font-size: 13px;
}

.space-after {
	padding-bottom: 1em;
}

.hlist {
	list-style-type: none;
}

.hlist li {
	display: inline;
	margin: 0 1.5em;
}

.a2server {
	background: #333333;
	color: #ffcccc;
}

.a2server a {
	color: #66ccff;
}

.a2server a:active {
	color: #cc33ff;
}

.a2server a:visited {
	color: #3399ff;
}

.rasppleii {
	background: #000000;
	color: #ff55ff;
}

.rasppleii a {
	color: #00ff99;
}

.rasppleii a:active {
	color: #99ffff;
}

.rasppleii a:visited {
	color: #ff9933;
}

.rasppleii strong {
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}

.rasppleii code {
	color: #ffffff;
}
