body {
	font: 16px Helvetica, "Trebuchet MS", sans-serif;
}

h1 {
	text-align: center;
}

code {
	font: 13px Monospace;
}

em.no-style {
	font-style: normal;
}

em.no-style em {
	font-style: italic;
}

.fine-print {
	font-size: 13px;
}

.space-before {
	padding-top: 1em;
}

.space-after {
	padding-bottom: 1em;
}

.hlist, .no-bullets {
	list-style-type: none;
}

.hlist li {
	display: inline;
	margin: 0 1.5em;
}

strong.uline {
	font-weight: normal;
	text-decoration: underline;
}

span.src-list {
	margin: 0 1em;
}
span.src-list::before {
	content: "[";
}
span.src-list::after {
	content: "]";
}
span.src-list span {
	padding: 0 0.6em;
}

.language-embedded-text {
	display: block;
	padding: 1em;
	color: #000000;
	background-color: #ffffff;
}

.a2server {
	background: #333333;
	color: #ffcccc;
}

.a2server a {
	color: #66ccff;
}

.a2server a:active {
	color: #cc33ff;
}

.a2server a:visited {
	color: #3399ff;
}

.a2cloud {
	background-color: #000520;
	color: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.a2cloud h2 {
	font-size: 24px;
	margin: 16px 0 32px;
	line-height: 1.2;
	font-weight: normal;
	color: #bef;
}

.a2cloud h3 {
	margin: 48px 0 16px;
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
}

.a2cloud h4 {
	margin-top: -16px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.846153846;
	color: #757575;
}

.a2cloud h5 {
	margin-top: 24px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.846153846;
	color: #757575;
}

.a2cloud h5 a {
	color: #757575;
}

.a2cloud h5 a:hover {
	color: #21759b;
}

.a2cloud p {
	margin: 0 0 24px;
}

.a2cloud code {
	font-family: Courier, Courier New, Consolas, Monaco, Lucida Console, monospace;
	font-size: 16px;
	color: #F90;
}

.a2cloud .site {
	margin-top: 48px;
	margin-bottom: 48px;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
}

.a2cloud header h1 {
	text-align: left;
	font-size: 28px;
	line-height: 1.285714286;
	margin-bottom: 16px;
}

.a2cloud header h2 {
	color: #00db0a;
	font-weight: normal;
	font-size: 15px;
	line-height: 1.846153846;
}

.a2cloud header a {
	color: #00db0a;
	text-align: left;
	text-decoration: none;
}

.a2cloud header a:hover, .a2cloud nav a:hover {
	color: #21759b;
}

.a2cloud header ul {
	list-style: none;
	padding: 1em 0;
	text-transform: uppercase;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	font-size: 16px;
}

.a2cloud header li {
	color: #636363;
	display: inline-block;
	margin: 0 40px 0 0;
	line-height: 1.42857143;
}

.a2cloud a {
	color: #9CF;
}

.a2cloud a:hover, .a2cloud header li a:hover {
	color: #F6F;
}

.a2cloud nav {
	display: block;
	float: right;
	width: 28%;
	margin: 24px 0 0;
	color: #636363;
}

.a2cloud nav h2 {
	font-size: 13px;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}

.a2cloud nav ul {
	list-style: none;
	padding: 0;
	font-weight: bold;
	line-height: 1.846153846;
}

.a2cloud nav a {
	color: #636363;
}

.a2cloud #content {
	display: block;
	float: left;
	width: 68%;
	margin: 24px 0 0;
	line-height: 1.714285714;
}

.a2cloud header ul {
	margin-bottom: 0;
}

.a2cloud ul {
	margin-bottom: 32px;
}

.a2cloud hr {
	margin: 2em 0 4em;
	border: 2px solid #ededed;
}

.rasppleii {
	background: #000000;
	color: #ff55ff;
}

.rasppleii a {
	color: #00ff99;
}

.rasppleii a:active {
	color: #99ffff;
}

.rasppleii a:visited {
	color: #ff9933;
}

.rasppleii strong {
	color: #ffffff;
}

.rasppleii code {
	color: #ffffff;
}
