<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>{{ site.title }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
			</div>
			<div class="col-md-2">
				{% if site.github_username %}<p>{% include icon-github.html username=site.github_username %}</p>{% endif %}
				{% if site.twitter_username %}<p>{% include icon-twitter.html username=site.twitter_username %}</p>{% endif %}
			</div>
			<div class="col-md-6">
				<p>{{ site.description }}</p>
			</div>
		</div>
	</div>
</footer>
