{% if include.url %}
<noscript>
	<iframe src="{{ include.url }}" width="960" height="1000">
		<a href="{{ include.url }}"
			>You are using an old browser. Click here to go directly to included content.</a>
</iframe>
</noscript>{% assign url_id = include.url | remove:'://' | replace_first:'/','###' | split:'###' | slice:1 | join:'' | prepend:'incl_' | slugify %}
<div class="need-js"><pre><code id="{{ url_id }}"></code></pre></div>
<script><!--
	$(function(){
		$("#{{ url_id }}").load("{{ include.url }}");
	});
//-->
</script>{% endif %}
