/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;

        path {
            fill: $text-color;
        }
    }
}
